{% extends "base.html" %}
{% block title %}My Bikes{% endblock %}
{% block content %}
<h2>My Bikes</h2>
<a href="{% url 'add_bike' %}" class="button">Add New Bike</a>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>Actions</th>
    </tr>
    {% for bike in bikes %}
    <tr>
        <td>{{ bike.id }}</td>
        <td>{{ bike.name }}</td>
        <td>{{ bike.description }}</td>
        <td>{{ bike.manufacturer }}</td>
        <td>
            <a href="{% url 'edit_bike' bike.id %}" class="button">Edit</a>
            <a href="{% url 'delete_bike' bike.id %}" class="button">Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="5">No bikes found.</td></tr>
    {% endfor %}
</table>
{% endblock %}
